html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

// NAVBAR
.navbar{

    width: 100vw;
    height: 10vh;
    padding: 0px 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #bebebe;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
    .brand{
        color: #fff;

        &:hover{
            color: orangered;
        }
    }

    // MENU
    .menu{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;

        a{
            text-decoration: none;
            color: #fff;
            transition-duration: .2s;

            &:hover{
                font-size: 1.2rem;
            }
        }

    }

}

//CONTAINER
.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 40px 10%;
    margin-top: 9vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .card{
        width: 30%;
        height: 200px;
        border: .3px solid #bebebe;
        padding: 0px 20px;
        border-radius: 8px;
        transition-duration: .5s;
        margin-top: 20px;
        &:hover{
            box-shadow: 3px 3px 5px #bebebe;
        }
        
        
    }

    .noteInput{
        width: 300px;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: .3px solid #bebebe;
        border-radius: 8px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.300);
        position: fixed;
        z-index: 90;
        background-color: #fff;
        transition-duration: .5s;
        border-top: 5px solid orangered;

        .arrow{
            margin-left: auto;
            margin-top: -10px;
            color: #bebebe;
            cursor: pointer;
            transition-duration: 1s;
            color: orangered;

            &:hover{
                color: orangered;
            }
        }

        .formGroup{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 10px 0px;

          
            input, textarea{
                padding: 5px;
                margin-top: 10px;
                border: none;
                outline: none;
                background-color: ghostwhite;
            }

            .formButton{
                padding: 10px;
                border: none;
                background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
                transition-duration: .3s;

                &:hover{
                    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 20%, #1FA2FF 50%);
                }
            }
        }
    }
}

.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
}

