html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100vw;
  height: 10vh;
  padding: 0px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bebebe;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.navbar .brand {
  color: #fff;
}

.navbar .brand:hover {
  color: orangered;
}

.navbar .menu {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar .menu a {
  text-decoration: none;
  color: #fff;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.navbar .menu a:hover {
  font-size: 1.2rem;
}

.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 40px 10%;
  margin-top: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .card {
  width: 30%;
  height: 200px;
  border: .3px solid #bebebe;
  padding: 0px 20px;
  border-radius: 8px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin-top: 20px;
}

.container .card:hover {
  -webkit-box-shadow: 3px 3px 5px #bebebe;
          box-shadow: 3px 3px 5px #bebebe;
}

.container .noteInput {
  width: 300px;
  height: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: .3px solid #bebebe;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 90;
  background-color: #fff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  border-top: 5px solid orangered;
}

.container .noteInput .arrow {
  margin-left: auto;
  margin-top: -10px;
  color: #bebebe;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  color: orangered;
}

.container .noteInput .arrow:hover {
  color: orangered;
}

.container .noteInput .formGroup {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0px;
}

.container .noteInput .formGroup input, .container .noteInput .formGroup textarea {
  padding: 5px;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: ghostwhite;
}

.container .noteInput .formGroup .formButton {
  padding: 10px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#1FA2FF), color-stop(51%, #12D8FA), to(#1FA2FF));
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.container .noteInput .formGroup .formButton:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#1FA2FF), color-stop(20%, #12D8FA), color-stop(50%, #1FA2FF));
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 20%, #1FA2FF 50%);
}

.footer {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: #fff;
}
/*# sourceMappingURL=mainStyle.css.map */